# Binaries for programs and plugins
main
*.exe
*.exe~
*.so
*.dylib
*.dll

build/
config/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
